.background{
    background-color: peachpuff;
    height: 100vh;
    padding-top: 1px;
}
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    font-family: cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
#restartBtn{
    border-radius: 20px;
    background: lightslategray;
    width: 100px;
    height: 30px;
}
